<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qxst.e.meatballstartup.dao.first.read.CrEnterpriseUserinfoReadDao">
	<select id="find" parameterType="map" resultType="map">SELECT `id` , `name` , `pwd` , `mobile` , `realname` , `addtime` , `loginip` , `status` , `statusval` , `isdelete` , `uuid` , `role_id` , `role_name` , `prison_id` , `u_picture` , `enterprise_id` , `nickname` , `remark` , `source` , `sourceval` , `sys_type_id` , `sys_type_name` FROM cr_enterprise_userinfo WHERE 1=1 AND id = #{data.id,jdbcType=INTEGER}</select>
	<select id="findEntity" parameterType="map" resultType="map">SELECT `id` , `name` , `pwd` , `mobile` , `realname` , `addtime` , `loginip` , `status` , `statusval` , `isdelete` , `uuid` , `role_id` , `role_name` , `prison_id` , `u_picture` , `enterprise_id` , `nickname` , `remark` , `source` , `sourceval` , `sys_type_id` , `sys_type_name` FROM cr_enterprise_userinfo WHERE 1=1 AND id = #{data.id,jdbcType=INTEGER}</select>
	<select id="findLimit" resultType="map" parameterType="map">SELECT `id` , `name` , `pwd` , `mobile` , `realname` , `addtime` , `loginip` , `status` , `statusval` , `isdelete` , `uuid` , `role_id` , `role_name` , `prison_id` , `u_picture` , `enterprise_id` , `nickname` , `remark` , `source` , `sourceval` , `sys_type_id` , `sys_type_name` FROM cr_enterprise_userinfo WHERE 1 = 1 ORDER BY
		<choose>
			<when test="extlimit.sort != null">${extlimit.sort} ${extlimit.dir}</when>
			<otherwise>id DESC</otherwise>
		</choose> LIMIT ${(extlimit.pageindex-1)*extlimit.pagesize},${extlimit.pagesize}
	</select>
	<select id="findCount" resultType="int" parameterType="map">SELECT COUNT(1) AS totalCount FROM cr_enterprise_userinfo WHERE 1 = 1</select>
</mapper>
