<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qxst.e.meatballstartup.dao.first.write.CePartnerUserinfoWriteDao">
	<insert id="save" parameterType="map" keyProperty="id" keyColumn="id" useGeneratedKeys="true">INSERT INTO ce_partner_userinfo ( `name` , `phone` , `email` , `pwd` , `realname` , `status` , `isdelete` , `addtime` , `prison_id` , `partner_id` ) VALUES ( #{data.name,jdbcType=VARCHAR} , #{data.phone,jdbcType=VARCHAR} , #{data.email,jdbcType=VARCHAR} , #{data.pwd,jdbcType=VARCHAR} , #{data.realname,jdbcType=VARCHAR} , #{data.status,jdbcType=INTEGER} , #{data.isdelete,jdbcType=INTEGER} , #{data.addtime,jdbcType=TIMESTAMP} , #{data.prison_id,jdbcType=INTEGER} , #{data.partner_id,jdbcType=INTEGER} )</insert>
	<insert id="saveNotNull" parameterType="map" keyProperty="id" keyColumn="id" useGeneratedKeys="true">INSERT INTO ce_partner_userinfo
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="data.name != null">`name`,</if>
			<if test="data.phone != null">`phone`,</if>
			<if test="data.email != null">`email`,</if>
			<if test="data.pwd != null">`pwd`,</if>
			<if test="data.realname != null">`realname`,</if>
			<if test="data.status != null">`status`,</if>
			<if test="data.isdelete != null">`isdelete`,</if>
			<if test="data.addtime != null">`addtime`,</if>
			<if test="data.prison_id != null">`prison_id`,</if>
			<if test="data.partner_id != null">`partner_id`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="data.name != null">#{data.name,jdbcType=VARCHAR},</if>
			<if test="data.phone != null">#{data.phone,jdbcType=VARCHAR},</if>
			<if test="data.email != null">#{data.email,jdbcType=VARCHAR},</if>
			<if test="data.pwd != null">#{data.pwd,jdbcType=VARCHAR},</if>
			<if test="data.realname != null">#{data.realname,jdbcType=VARCHAR},</if>
			<if test="data.status != null">#{data.status,jdbcType=INTEGER},</if>
			<if test="data.isdelete != null">#{data.isdelete,jdbcType=INTEGER},</if>
			<if test="data.addtime != null">#{data.addtime,jdbcType=TIMESTAMP},</if>
			<if test="data.prison_id != null">#{data.prisonId,jdbcType=INTEGER},</if>
			<if test="data.partner_id != null">#{data.partnerId,jdbcType=INTEGER},</if>
		</trim>
	</insert>
	<update id="upt" parameterType="map">UPDATE ce_partner_userinfo
		<set>
			<if test="data.name != null">name=#{data.name,jdbcType=VARCHAR},</if>
			<if test="data.phone != null">phone=#{data.phone,jdbcType=VARCHAR},</if>
			<if test="data.email != null">email=#{data.email,jdbcType=VARCHAR},</if>
			<if test="data.pwd != null">pwd=#{data.pwd,jdbcType=VARCHAR},</if>
			<if test="data.realname != null">realname=#{data.realname,jdbcType=VARCHAR},</if>
			<if test="data.status != null">status=#{data.status,jdbcType=INTEGER},</if>
			<if test="data.isdelete != null">isdelete=#{data.isdelete,jdbcType=INTEGER},</if>
			<if test="data.addtime != null">addtime=#{data.addtime,jdbcType=TIMESTAMP},</if>
			<if test="data.prison_id != null">prison_id=#{data.prison_id,jdbcType=INTEGER},</if>
			<if test="data.partner_id != null">partner_id=#{data.partner_id,jdbcType=INTEGER},</if>
		</set> WHERE id = #{data.id,jdbcType=INTEGER}
	</update>
	<delete id="del" parameterType="map">DELETE FROM ce_partner_userinfo WHERE id = #{data.id,jdbcType=INTEGER}</delete>
	<insert id="insertTranscationList" parameterType="map" keyProperty="id" keyColumn="id" useGeneratedKeys="true">INSERT INTO ce_partner_userinfo ( `name` , `phone` , `email` , `pwd` , `realname` , `status` , `isdelete` , `addtime` , `prison_id` , `partner_id` ) VALUES
		<foreach collection="data.list" item="item" index="index" separator=",">( #{item.name,jdbcType=VARCHAR} , #{item.phone,jdbcType=VARCHAR} , #{item.email,jdbcType=VARCHAR} , #{item.pwd,jdbcType=VARCHAR} , #{item.realname,jdbcType=VARCHAR} , #{item.status,jdbcType=INTEGER} , #{item.isdelete,jdbcType=INTEGER} , #{item.addtime,jdbcType=TIMESTAMP} , #{item.prison_id,jdbcType=INTEGER} , #{item.partner_id,jdbcType=INTEGER} )</foreach>
	</insert>
</mapper>
